.goods-list {
  margin-top: 20px;
  margin-bottom: -20px;

  .goods-single:nth-of-type(4n),
  .goods-single:last-of-type {
    margin-right: 0;
  }
}
.goods-single {
  float: left;
  width: 285px;
  margin-right: 20px;
  margin-bottom: 20px !important;
  border: 1px solid @darkgrey;
  border-radius: 3px;

  .goods-single-img {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    // position: relative;
    // background: @white;

    // img {
    //   width: auto;
    //   height: auto;
    //   max-width: 100%;
    //   max-height: 100%;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }

    // img.landscape {
    //   height: 100%;
    //   width: auto;
    //   border-top-left-radius: 3px;
    //   border-top-right-radius: 3px;
    // }
    img.portrait,
    img.equal,
    img {
      width: 100%;
      height: auto;
    }
  }
  .goods-single-content {
    padding: 25px 15px 35px;
    background: @white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .goods-single-marking,
  .goods-single-availability,
  .goods-single-cat-link {
    display: block;
  }
  .goods-single-cat-link,
  .goods-single-cat-link a {
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: lighten(@black, 30%);
  }
  .goods-single-title {
    margin: 15px 0;
    text-align: left;
    font-size: 16px;

    a {
      color: @black;
      text-decoration: none;
    }
    a:hover {
      color: @red;
    }
  }
  .product-attr {
    margin: 0 0 15px;
    border-top: none;

    dl {
      border-top: none;
      border-bottom: 1px solid @darkgrey;
    }
    dt {
      width: auto;
      float: left;
      font-weight: normal;
    }
    dd {
      float: right;
      padding-right: 5px;
    }
  }
  .goods-single-marking,
  .goods-single-availability {
    padding-left: 25px;
    font-size: 13px;
  }
  .goods-single-marking {
    background: url('../../img/icon-art-grey.png') no-repeat left center;
    color: lighten(@black, 65%);
  }
  .goods-single-availability {
    margin-top: 5px;
  }
  .goods-single-availability.goods-single-exist {
    background: url('../../img/icon-good-green.png') no-repeat left center;
    color: @green;
  }
  .goods-single-availability.goods-single-not-exist {
    background: url('../../img/icon-bad-red.png') no-repeat left center;
    color: @red;
  }
  .goods-single-bar {
    margin-top: 20px;
  }
  .goods-single-price,
  .goods-single-buy {
    width: 120px;
  }
  .goods-single-price {
    max-height: 40px;
    padding: 11px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    border: 1px solid darken(@grey, 30%);
    border-radius: 3px;

    ins, del {
      display: block;
    }
    ins {
      text-decoration: none;
    }
    del {
      margin-top: -6px;
      font-size: 14px;
      font-weight: 400;
      color: darken(@darkgrey, 20%);
    }
  }
}
.goods-more {
  height: 40px;
  margin: 5px 0 0;
  position: relative;
  text-align: center;

  .goods-more-line {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -0.5px;
    background: lighten(@black, 85%);
  }
  .btn-more-wrapper {
    position: relative;
    width: 245px;
    margin: 0 auto;
    background: @grey;
    z-index: 1;
  }
  .btn {
    vertical-align: middle;
    width: 225px;
    margin: 0 auto;

  }
}
.goods-list.catalog-goods-list {
  background: @white;
  margin: 0;
  border: 1px solid @darkgrey;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .goods-single:nth-of-type(4n) {
    margin-right: 20px;
  }
  .goods-single:nth-of-type(3n),
  .goods-single:last-of-type {
    margin-right: 0;
  }

  .goods-single {
    margin-right: 0 !important;
    padding: 25px;
    border: none;
    //border-bottom: 1px solid @darkgrey;
    border-radius: 0;
    position: relative;

    .goods-single-content {
      padding: 25px 0 0;
    }
    .catalog-goods-single-info {
      //display: none;
      padding: 15px 0 0;
    }
    .catalog-goods-single-char {
      display: block;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid @darkgrey;

      dt, dd {
        font-size: 12px;
        line-height: 1;
      }
      dt {
        width: 57%;
        float: left;
      }
      dd {
        width: 25%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .catalog-goods-single-char:last-of-type {
      margin-bottom: 15px;
    }
    .goods-single-availability,
    .goods-single-marking {
      margin-top: 10px;
    }
  }
}
// Single product page
.product-page {

  .goods-title {
    margin-bottom: 25px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .images {
    float: left;
    width: 320px;
  }
  .thumbnails {
    margin-top: 15px;

    img {
      width: 64px;
      height: auto;
      margin-right: 5px;
    }
    a:nth-of-type(4n) a {
      margin-right: -4px;
    }
  }
  .product-info {
    float: right;
    width: 580px;
    padding: 5px 0 0 5px;
  }
  .product-price .amount,
  .quantity,
  .product-price-units,
  .product-price-block .btn.goods-single-buy {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  .product-price .amount,
  .quantity,
  .product-price-units {
    font-weight: 500;
  }
  .product-price-block .btn.goods-single-buy {
    width: 120px;
    margin-right: -4px;
    float: none;
  }
  .product-price {

    del .amount,
    ins .amount,
    & > .amount {
      height: 40px;
      padding: 0 15px;
      line-height: 40px;
      border-radius: 3px;
    }
    ins .amount,
    & > .amount {
      background: @yellow;
      text-decoration: none;
    }
    del .amount {
      font-weight: 400 !important;
      text-decoration: line-through;
      background: @grey;
    }
  }
  input,
  textarea {
    outline: none;
  }
  .quantity input{
    max-width: 70px;
    height: 40px;
    border: 1px solid darken(@darkgrey, 10%);
    border-radius: 3px;
    text-align: center;
  }
  .product-desc {
    margin: 25px 0 0;

    p {
      margin: 10px 0;
    }
  }
}

.product-attr {
  margin: 30px 0 0;
  border-top: 1px solid @darkgrey;

  dl {
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid @darkgrey;
  }
  dl:first-of-type {
    border-top: none;
  }
  dt, dd {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    font-size: 14px;
  }
  dt {
    width: 255px;
    padding-left: 5px;
    font-weight: 700;
  }
  dd {
    padding-left: 25px;
  }
}
.attr-brand dd { background: url('../../img/icon-brand-blue.png') no-repeat left center;}
.attr-purpose dd { background: url('../../img/icon-type-blue.png') no-repeat left center;}
.attr-country dd { background: url('../../img/icon-country-blue.png') no-repeat left center;}
.attr-size dd { background: url('../../img/icon-size-blue.png') no-repeat left center;}
.attr-min-order dd { background: url('../../img/icon-cart-blue.png') no-repeat left center;}

p.product-attr-title {
  position: relative;
  top: -10px;
  display: inline-block;
  margin: 0;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: @darkgrey;
  background: @white;
}

// Collection goods
.goods-list.category-goods-list {
  margin: 25px -25px -25px -25px;
  border: none;
  border-top: 1px solid @darkgrey;

  h2 {
    margin: 0 0 15px;
    padding: 25px 25px 0;
  }
  .btn.goods-single-buy.to-cart {
    display: block;
    float: right;
    margin-right: 0;
  }

  .goods-single {
    border-bottom: none;

    .goods-single-content {
      padding: 0;
    }
  }
}

// Category features
.collection-distributor.collection-distributor {
  margin: 0 0 25px;
  padding-left: 25px;
  font-size: 20px;
  line-height: 1;
  text-transform: none;
  background: url('../../img/icon-distributor-blue.png') no-repeat left center;
}
.collection-title.collection-title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;

  span {
    display: block;
    margin: 0 0 5px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: darken(@darkgrey, 25%);
  }
}
.btn.to-factory {
  padding: 11px;
  background: transparent;
  color: @black;

  &:hover {
    background: @red;
    color: @white;
  }
}
.collection-advantages {
  margin: 30px 0 0;
  padding: 30px 0 5px;
  text-align: center;
  border-top: 1px solid @darkgrey;

  strong {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }
}
.collection-advantages-list {
  margin: 40px 0 0;

  figure {
    display: inline-block;
    width: 20%;
    margin-right: -4px;
    vertical-align: top;
  }
  .img-wrapper {
    height: 55px;
  }
  figcaption {
    display: block;
    font-size: 16px;
  }
}

.collection-images {
  float: left;
  width: 320px;

  .thumbnails {
    margin-top: 15px;

    img {
      width: 64px;
      height: auto;
      margin-right: 5px;
    }
    a:nth-of-type(4n) a {
      margin-right: -4px;
    }
  }
}
.collection-info {
  float: right;
  width: 580px;
  padding: 5px 0 0 5px;
}

.tax-product_cat .term-description {
  margin-top: 45px;
}

// Catalog goods on hover effect
.catalog-goods-list {

  .goods-single.goods-hover:not(.collection-single):not(.brand-single) {
    min-height: 380px;
    padding: 0;
  }
  .product-attr,
  .goods-single-marking,
  .goods-single-availability {
    display: none;
  }
  .goods-single:hover {

    .hover-el {
      height: auto;
      background: @white;
      z-index: 10;
      box-shadow: 0 0 10px fade(@black, 50%);
    }
    .product-attr,
    .goods-single-marking,
    .goods-single-availability {
      display: block;
    }
  }
  .hover-el {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 25px;
    overflow: hidden;
  }
}
