// top panel
.top-panel {
  padding: 10px 0;
}
.top-panel-menu {
float: left;

  ul {

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;

      a {
        display: block;
        color: @black;
        text-decoration: none;
        border-bottom: 1px solid @darkgrey;
      }
      a:hover {
        border-bottom: none;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
.top-panel-user {
  float: right;
  text-align: right;

  a {
    font-size: 14px;
    font-weight: 300;
    color: @black;
    text-decoration: none;
    border-bottom: 1px solid @darkgrey;
  }
  a:hover {
    border-bottom: none;
  }
  a:last-child {
    margin-left: 10px;
  }
}
// header
header.gl {
  padding: 15px 0 10px;

  .logo {
    display: block;
    width: 245px;
    height: 75px;
    background: url('../../img/logo-bg.png') no-repeat top left;
  }
}
.info-blocks {
  padding: 5px 0;

  .header-info-block {
    padding: 2px 25px 5px;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid @darkgrey;

    a {
      text-decoration: none;
      color: lighten(@black, 10%);
    }
  }
  .header-info-block:last-child {
    border-right: none;
  }
  .info-block-title {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 14px;
  }
  .info-block-text {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;

    img {
      margin-right: 5px;
    }
  }
}
.cart-wrapper {
  display: block;
  width: 200px;
  height: 60px;
  border: 1px solid @red;
  border-radius: 3px;

  .cart-img {
    display: block;
    width: 70px;
    height: 100%;
    background: url('../../img//icon-cart-white.png') no-repeat center center @red;
  }
  .cart {
    width: 128px;
    height: 100%;
    padding: 12px 10px 10px;
    font-size: 14px;
  }
  .cart-name,
  .cart-num {
    display: block;
  }
  .cart-name {
    font-size: 15px;
    font-weight: 500;
    color: @black;
  }
  .cart-num {
    color: darken(@grey, 40%);
  }
}
.header-bottom-panel {
  padding: 5px 0 5px;
}
.bottom-panel-menu {

  a {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 0 37px;
    height: 42px;
    line-height: 38px;
    font-size: 17px;
    font-weight: 500;
    color: lighten(@black, 30%);
    text-decoration: none;
    border: 1px solid darken(@grey, 10%);
    border-radius: 5px;
  }
  .catalog-link {
    background: url('../../img/icon-catalog-red.png') no-repeat left 15px center;

    &:hover {
      background: url('../../img/icon-catalog-red.png') no-repeat left 15px center @grey;
    }
  }
  .designers-link {
    background: url('../../img/icon-heart-red.png') no-repeat left 15px center;

    &:hover {
      background: url('../../img/icon-heart-red.png') no-repeat left 15px center @grey;
    }
  }
}
.search-panel {
  width: 920px;
  height: 42px;
  border: 1px solid darken(@grey, 10%);
  border-radius: 5px;

  input {
    float: left;
    height: 40px;
    outline: none;
  }
  input[type=text] {
    width: 870px;
    padding: 0 16px;
    line-height: 38px;
    font-size: 17px;
    color: darken(@grey, 55%);
    border: none;
    border-radius: 5px;
  }
  input[type=submit] {
    width: 46px;
    background: url('../../img/icon-search-grey.png') no-repeat center center @white;
    border: none;
    border-left: 1px solid darken(@grey, 10%);
  }
}
// distributors
.distribute {
  padding: 25px 0;

  h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .factories-list {
    margin-top: 20px;
    text-align: center;

    a img {
      margin-right: 22px;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray;
      -webkit-filter: grayscale(100%);
    }
    a:hover img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%);
    }
    a:last-child img {
      margin-right: 0;
    }
  }
}
.distribute-bottom {
  padding: 55px 0 0;
}

// top index block
.top-index-block {
  padding: 15px 0;

  // actions block
  .action-block {
    width: 925px;
    text-align: center;

    .actions-list {
      height: 280px;
      margin-bottom: 15px;
    }
    .big-action {
      float: left;
      width: 570px;
      height: 280px;
    }
    .two-actions {
      float: left;
      width: 355px;
    }
    .small-action {
      display: block;
      height: 140px;
    }
    .big-action,
    .small-action {

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .actions-reload {
    padding-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: @black;
    text-decoration: none;
    vertical-align: middle;
    background: url('../../img/icon-reload-black.png') no-repeat left 10px center;
  }
}
//catalog- menu
.catalog-menu {
  width: 255px;
  padding: 15px 20px;
  border: 1px solid @darkgrey;
  border-top: 3px solid @blue;
  border-radius: 3px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      a {
        padding: 5px 0;
        display: block;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        color: @black;
      }

      ul {

        li {
          background: url('../../img/icon-cat-arrow-grey.png') no-repeat left 10px center;
          border-radius: 3px;

          a {
            padding: 7px 10px 7px 25px;
            color: darken(@grey, 50%);
          }
        }
        li:hover,
        li.current-item {
          background: url('../../img/icon-cat-arrow-grey.png') no-repeat left 10px center @grey;
        }
      }
    }
  }
  & > ul > li > a:hover {
    color: @red;
  }
}
// advantages
.advantages-block {
  margin: 0px 0 10px;
  padding: 10px 0 15px;
}
.advantages-list {
  width: 100%;
  display: table;
  padding: 10px 0;
  border: 1px solid darken(@grey, 10%);
  border-radius: 3px;

  .advantage-single {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
    text-align: center;
    border-right: 1px solid darken(@grey, 10%);
  }
  .advantage-single:last-child {
    border: none;
  }
  .img-wrapper,
  .advantage-single-content {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
  }
  .img-wrapper {
    width: 60px;
  }
  .advantage-single-content {
    padding-left: 5px;
    text-align: left;

    b {
      font-size: 15px;
      font-weight: 700;
    }
    p {
      margin: 0;
      font-size: 14px;
      color: darken(@grey, 65%);
    }
  }
}
// goods (index, category)
.goods-block {

  .goods-part-block {
    padding: 20px 0;

    h2 {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: left;
    }
  }
  .goods-part-category {
    margin: 0 0 0 10px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    list-style: none;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 6px;

      a {
        display: block;
        font-size: 15px;
        text-decoration: none;
        color: lighten(@black, 40%);
        border-bottom: 1px dotted lighten(@black, 40%);
      }
      a:hover {
        border-color: transparent;
      }
    }
  }
}
.page-bottom-text {
  padding: 55px 0;

  p {
    margin: 0;
    font-size: 14px;
  }
}
// footer
footer.gl {
  padding: 25px 0;
  border-top: 3px solid fade(darken(@blue, 20%), 10%);

  .footer-contacts,
  .footer-block {
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid @darkgrey;
  }
  .footer-block {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer-block-title {
    display: block;
    margin: 0 0 15px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: lighten(@black, 30%);
  }
  .footer-block:nth-last-of-type(2) {
    border-right: none;
    padding-right: 0;
  }
  nav {

    li {
      padding: 2px 0;

      a {
        color: @blue;
        text-decoration: none;
      }
      a:hover {
        color: @red;
      }
    }
  }
}
// category tabs
.category-tabs {

  ul {

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;

      a {
        display: block;
        padding: 15px 20px;
        font-size: 17px;
        font-weight: 700;
        border-top: 3px solid transparent;
        color: @red;
      }
      a:hover{
        text-decoration: none;
      }
    }
    li.current {

      a {
        border-color: @blue;
        background: @grey;
        color: lighten(@black, 30%);
        text-decoration: none;
      }
    }
  }
}
.category-tabs-menu {
  padding: 20px 0 0;

  ul {
    padding-left: 10px;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;

      a {
        color: darken(@blue, 10%);
        text-decoration: none;
        border-bottom: 1px dotted @blue;
      }
      a:hover {
        border-bottom: none;
      }
    }
    li:last-child {
      margin-right: -4px;
    }
  }
}
// content
.content-wrapper {

  .page-bottom-text {
    padding-bottom: 0;
  }
}
.sidebar {

  .catalog-menu,
  .widget_product_categories {
    width: 210px;

    ul {

      li {

        a {
          padding: 5px;
          border-radius: 3px;
        }
        a:hover,
        &.current-cat a {
          background: @grey;
          color: @black;
        }
      }
    }
  }
}
// filter sidebar
.sidebar-block.sidebar-filter {

  h4 {
    margin-bottom: 15px;
  }
  h5 {
    margin: 0 0 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
  }
  .filter-block {
    padding: 15px 0;
    border-top: 1px solid @darkgrey;
  }
  input[type=submit] {
    margin-top: 5px;
    width: 100%;
  }
  input[type=reset] {
    margin-top: 15px;
  }
}
// filter sizes
.filter-sizes input[type=checkbox] + label {
  display: inline-block;
  width: 70px;
  margin: 0 5px 8px 0;
  padding: 6px 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  border: 1px solid @darkgrey;
  border-radius: 3px;
}
.filter-sizes input[type=checkbox] + label:nth-of-type(3n) {
  margin-right: -4px;
}
.filter-sizes input[type=checkbox] + label:before {
  content: none;
  display: none;
}
.filter-sizes input[type=checkbox]:checked + label {
  background: @blue;
  color: @white;
  border-color: @blue;
}
// catalog-page
.catalog-page {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
// goods sort
.filter-sort {
  padding: 10px 0;
  font-size: 14px;
  text-align: right;
  background: @grey;

  ul {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;

    li {
      display: inline-block;
      margin-right: 10px;
      padding: 0;
      font-size: 11px;
      vertical-align: top;

      a {
        color: @black;
        text-decoration: none;
      }
      a:hover {
        color: darken(@blue, 5%);
      }
    }
    li:before {
      content: none;
    }
    li:last-child {
      margin-right: 0;
    }
    li.filter-sort-current {

      a {
        color: darken(@blue, 5%);
      }
    }
    li.filter-sort-up:after,
    li.filter-sort-bottom:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      border-style: solid;
      vertical-align: 2px;
    }
    li.filter-sort-up:after {
      border-width: 4px 4px 0 4px;
      border-color: darken(@blue, 5%) transparent transparent transparent;
    }
    li.filter-sort-bottom:after {
      border-width: 0 4.px 4px 4px;
      border-color: transparent transparent darken(@blue, 5%) transparent;
    }
  }
}
// brands page
.catalog-goods-list.brands-list {

  .goods-single.brand-single {
    width: 25%;
    border-bottom: none;
  }
  .goods-single.brand-single,
  h3 {
    text-align: center;
  }
  .brand-single-image {
    height: 55px;
    overflow: hidden;

    img {
      max-height: 55px;
      height: auto;
      width: auto;
    }
  }
  .brand-single-title {
    margin: 10px 0;

    a {
      color: @black;
      text-decoration: none;
    }
    a:hover {
      color: @red;
    }
  }
  .brand-single-desc {
    margin: 10px 0;

    p {
      margin: 0;
    }
  }
}
// collections
.catalog-goods-list.collections-list,
.goods-list.catalog-goods-list {

  .collection-single {

    & > a {
      display: block;
      width: 100%;
      height: 200px;
      overflow: hidden;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      img,
      img.landscape {
        height: 100%;
        width: auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      img.portrait {
        width: 100%;
        height: auto;
      }
    }

    .goods-single-title {
      margin: 0;
    }
  }
}
// filter on index page
.filter-block {
  min-height: 380px;
  margin: 0 0 10px;
  padding: 50px 0;
  background: url('../../img/filter-bg.jpg') no-repeat center center;
  background-size: cover;
  color: @white;
}
.filter-block-title {
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
}
.filter-block-desc {
  max-width: 600px;
  margin: 25px 0 35px;
  line-height: 20px;

  a {
    color: @lightblue;
  }
}
.filter-block-selects {

  select {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    padding: 9px 35px 9px 15px;
    font-size: 15px;
    background-color: @white;
    color: @black;
    border-color: @white;
  }
  select:first-of-type {
    width: 195px;
  }
  select:last-of-type {
    margin-right: -4px;
  }
}
.filter-block-bar {
  margin: 20px 0 0;

  input[type=submit] {
    width: 195px;
  }
}
// Fixed notice panel
.add-to-cart-notice {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  background: fade(@green, 90%);
  z-index: 11;

  p {
    margin: 0;
    font-weight: 300;
    color: @white;
    text-align: center;
  }
  a {
    color: @white;
  }
  a:hover {
    text-decoration: none;
  }
}
