// Catalog
.woocommerce-ordering {
	display: inline-block;

	.orderby {
		min-width: 210px;
		width: auto;
		margin-left: 14px;
		font-size: 14px;
	}
}
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {
  width: 210px;
  padding: 15px 20px;
  border: 1px solid @darkgrey;
  border-top: 3px solid @blue;
  border-radius: 3px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

      a {
        padding: 5px 0;
        display: block;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
        color: @black;
      }

      ul {

        li {
          background: url('../../img/icon-cat-arrow-grey.png') no-repeat left 10px center;
          border-radius: 3px;

          a {
            padding: 7px 10px 7px 25px;
            color: darken(@grey, 50%);
          }
        }
        li:hover,
        li.current-item {
          background: url('../../img/icon-cat-arrow-grey.png') no-repeat left 10px center @grey;
        }
      }
    }
  }
  & > ul > li > a:hover {
    color: @red;
  }
  .count {
  	display: none;
  }
}
.widget_layered_nav,
.widget_layered_nav_filters {

	ul {

		li {

			a {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}
.widget_layered_nav {

	ul {

		li {

			a:hover {
				color: @blue;
			}
			a:before {
				content: '';
				display: inline-block;
				width: 15px;
				height: 15px;
				position: relative;
				top: 3px;
				margin-right: 10px;
  				border: 1px solid darken(@blue, 5%);
				border-radius: 3px;
			}
		}
		li.chosen {

			a {
				color: @blue;
			}
			a:before {
				background: @blue;
			}
		}
	}
}
.widget_layered_nav_filters {

	ul {

		li {

			a:before {
				content: "\00d7";
				display: inline-block;
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}
		}
	}
}
.woocommerce-breadcrumb,
.breadcrumbs {
	padding: 0 0 20px;
	font-size: 14px;

	a {
		color: @red;
		text-decoration: none;
	}
	a:hover {
		color: @blue;
	}
}

// Cart
.woocommerce table.shop_table.maxitile_shop_table {
	border: none;

	a.remove {
		color: @red !important;
	}
	a.remove:hover {
		background: @red;
		color: @white !important;
	}
	.product-name a {
		font-weight: 500;
		font-size: 16px;
		color: @black;
		text-transform: uppercase;
		text-decoration: none;
	}
	.product-name a:hover {
		color: @red;
	}
}

// Goods
.goods-single .added_to_cart {
	display: none !important;
}

// Messages
.woocommerce .woocommerce-message.woocommerce-message {
	background: @grey;
	color: @black;
	border-top-color: @green;
	border-radius: 3px;
}
.woocommerce .woocommerce-message.woocommerce-message:before {
	color: @green;
}
.woocommerce .woocommerce-message.woocommerce-message a {
	color: @red;
	text-decoration: none;
}
.added_to_cart.wc-forward {
	display: none !important;
}

// Single product
.woocommerce-main-image {
	display: block;
	width: 320px;
	height: 255px;
	border: 15px solid @white;
	outline: 1px solid @darkgrey;
	overflow: hidden;

	&.portrait img {
		width: 100%;
		height: auto;
	}
	&.landscape img {
		height: 100%;
		width: auto;
	}
	&:hover {
		outline: 1px solid @darkgrey;
	}
}

// Filter by price
.price_slider {
	margin: 25px 0;
}
.price_slider_amount button[type=submit] {
	width: 100%;
}
.price_label {
	margin: 25px 0 0;
	font-size: 12px;
	text-align: center;
}
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1em; height: 1em; cursor: default; background: @blue; border-radius: 50%; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .2em; border-radius: 3px; background: fade(@blue, 40%); }
.ui-slider-horizontal .ui-slider-handle { top: -.4em; margin-left: -.6em; outline: none; cursor: pointer; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; background: @blue; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

// Ajax search
div[id*='ajaxsearchlite'] {
	border-radius: 5px !important;
	box-shadow: none !important;
}
div[id*="ajaxsearchlite"] .probox {
	height: auto !important;
	box-shadow: none !important;
}
div[id*="ajaxsearchlite"] .probox .proloading,
div[id*="ajaxsearchlite"] .probox .proclose,
div[id*="ajaxsearchlite"] .probox .promagnifier,
div[id*="ajaxsearchlite"] .probox .prosettings {
	margin-top: 6px !important;
}
div[id*="ajaxsearchlite"] .probox .promagnifier {
	margin-right: 10px !important;
}
div[id*='ajaxsearchlite'] .probox .proinput {
	height: 40px !important;
	margin: 0 !important;
}
div[id*="ajaxsearchlite"] .probox.probox .proinput input {
	font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	line-height: 38px !important;
	color: darken(@darkgrey, 25%) !important;
}
div[id*="ajaxsearchlite"] .probox .proinput input::-webkit-input-placeholder {
   	font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	color: @darkgrey !important;
}

div[id*="ajaxsearchlite"] .probox .proinput input::-moz-placeholder {
    font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	color: @darkgrey !important;
}

div[id*="ajaxsearchlite"] .probox .proinput input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	color: @darkgrey !important;
}

div[id*="ajaxsearchlite"] .probox .proinput input:-moz-placeholder {
    font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	color: @darkgrey !important;
}

div[id*="ajaxsearchlite"] .probox .proinput input.autocomplete {
    font-family: 'Roboto', sans-serif !important;
	font-size: 17px !important;
	font-weight: 400 !important;
	color: @darkgrey !important;
}
div[id*="ajaxsearchliteres"] .results .item .asl_content {
	display: table;
}
div[id*="ajaxsearchliteres"] .results .item .asl_image,
div[id*="ajaxsearchliteres"] .results .item .asl_content h3 {
	display: table-cell !important;
	vertical-align: middle !important;
}
div[id*="ajaxsearchliteres"] .results .item div.etc,
div[id*='ajaxsearchliteres'] .results .item .asl_content .asl_desc {
	display: none !important;
}
div[id*="ajaxsearchliteres"] .results .item .asl_content h3,
div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a {
	color: @black !important;
}
